src/main/resources/xml/xsd/car-type.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="CarTypeType">
        <xs:sequence>
            <xs:element name="carType" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>

    <xs:element name="carType" type="CarTypeType"/>

</xs:schema>