src/main/resources/xml/xsd/customer.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="positionType">
        <xs:all>
            <xs:element name = "positionName" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element name="position" type="positionType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="employee" type="employeeType"/>
</xs:schema>